<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About me</h2>
        <p> I am a passionate backend developer who loves languages and solving puzzles, which led me to coding and several experiences of problem solving and team work in japanese business environment. Active listener and result-oriented, I like to contribute to the productivity of my team.
Invested in constant learning, skilled in Ruby on Rails, HTML, CSS, JavaScript.  </p>
      </div>
    </div>
  </div>
</div>
