<div class="wrapper-about mb-5">
  <div class="title" id="about"> About</div>
    <p> Back-end developer | Ruby on Rails | HTML5 | CSS | Javascript | PostgreSQL | Figma | Github | Heroku  </p>
</div>
