<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div class="title"> About me</div>
        <p> Ruby on Rails, HTML, CSS, JavaScript.  </p>
      </div>
    </div>
  </div>
