<div class="wrapper-about mb-5">
  <div class="title"> About</div>
    <p class="translate" id="about"> Back-end developer | Ruby on Rails | HTML5 | CSS | Javascript | PostgreSQL | Figma | Github | Heroku  </p>
</div>
