<div class="banner">
    <%# <div class="banner-pic"></div> %>
    <div class="banner-left">
      <%# <img class="avatar", src="", alt="Miriam's profile photo" > %>
      <%= image_tag "avatar-min.png", alt: "Miriam's profile photo", class:"avatar" %>

        <!-- Social Links Section -->
        <%= partial 'partials/social' %>
    </div>

    <div class="banner-info">
        <div class="translate ml-2" id="greet">Hello, I'm Miriam</div>
        <p class="translate" id="about">I'm a back-end developer, italian based in Osaka, Japan. I love languages, solving puzzles and drawing.</p>

        <!-- Skills Section -->
          <%= partial 'partials/skills' %>
          <div class="title"> <i class="fa-solid fa-language"></i> Languages </div>
          <p> Japanese (JLPT N1) | English (TOEIC 985) | Italian | Spanish</p>

    </div>
</div>
