<div class="banner mb-5">
    <%# <div class="banner-pic"></div> %>
    <div class="banner-left">
      <img class="avatar", src="https://media.licdn.com/dms/image/D5603AQE4hIXf8_1lVg/profile-displayphoto-shrink_800_800/0/1679322199446?e=1684972800&v=beta&t=uErkBz4ZCVv7iLSXXZTU82eHJonuY6x75_NanC5KYxE", alt="Miriam's profile photo" >
        <!-- Social Links Section -->
        <%= partial 'partials/social' %>
    </div>

    <div class="banner-info">
        <div class="translate" id="greet">Hello, I'm Miriam</div>
        <p class="translate" id="about">Backend developer who loves languages and solving puzzles</p>
        <%# <div class="title"> Skills</div>
        <p class="translate" id="skills"></p> %>

        <!-- Skills Section -->
        <div class="title"> Skills</div>
          <p class="translate" id="skills"></p>
          <div class="title"> Languages </div>
          <p> English (Business - TOEIC 985 ) | Japanese (Business - JLPT N1) | Italian (Native) | Spanish ( Intermediate)</p>

    </div>
</div>
