<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <img src="https://media.licdn.com/dms/image/D5603AQE4hIXf8_1lVg/profile-displayphoto-shrink_800_800/0/1679322199446?e=1684972800&v=beta&t=uErkBz4ZCVv7iLSXXZTU82eHJonuY6x75_NanC5KYxE", alt="profile photo", class='avatar' >
    <h1 class="title-main">Miriam Fiandanese</h1>
    <h2 class="title-main">Portfolio</h2>
  </div>
</div>
