<div class="banner mb-5">
  <img src="https://media.licdn.com/dms/image/D5603AQE4hIXf8_1lVg/profile-displayphoto-shrink_800_800/0/1679322199446?e=1684972800&v=beta&t=uErkBz4ZCVv7iLSXXZTU82eHJonuY6x75_NanC5KYxE", alt="Miriam's profile photo", class='avatar' >
    <div class="myname">Hello, I'm Miriam</div>
      <p>Backend developer who loves languages and solving puzzles</p>
</div>
