<div class="navbar-logo">
<%# <p>Miriam Fiandanese</p> %>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    English <i class="fa-solid fa-earth-americas"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><button class="dropdown-item" type="button"> 日本語 <i class="fa-solid fa-earth-americas"></i></button></li>
    <li><button class="dropdown-item" type="button"> Italiano <i class="fa-solid fa-earth-americas"></i></button></li>
    <li><button class="dropdown-item" type="button"> Español <i class="fa-solid fa-earth-americas"></i></button></li>
  </ul>
</div>
<%# <div class="navbar-languages">


<button class="btn btn-outline-secondary" id="en" onclick="changeLanguage('en')">
    Change to English
  </button>

  <button class="btn btn-outline-secondary" id = "es" onclick="changeLanguage('es')">
    Change to Spanish
  </button>

  <button class="btn btn-outline-secondary" id = "jp" onclick="changeLanguage('jp')">
    Change to Japanese
   </button>
</div> %>
