<div class="navbar-portfolio sticky back-img">
  <span class="navbar-logo">
    Miriam Fiandanese
  </span>
  <%# <nav class= > %>
  <ul class="navbar-menu">
    <li>
      About me
    </li>
      <li>
        Projects
      </li>
        <li>

            <div class="sl-nav">
              <ul>
                <li><b>Languages</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                  <div class="triangle"></div>
                  <ul>
                    <li><div id="en" onclick="changeLanguage('en')"><i class="sl-flag flag-usa"></i> <span >English</span></div></li>
                    <li><div id="es" onclick="changeLanguage('es')" ><i class="sl-flag flag-esp"></i> <span>Espanol</span></div></li>
                    <li><div id="jp" onclick="changeLanguage('jp')"><i class="sl-flag flag-jap"></i> <span> 日本語 </span></div></li>
                    <li><div id="it" onclick="changeLanguage('it')"><i class="sl-flag flag-ita"></i> <span> Italiano </span></div></li>
                  </ul>
                </li>
              </ul>
            </div>
        </li>
  </ul>
  <%# </nav> %>
</div>
