<p>Miriam Fiandanese</p>

<button class="btn btn-outline-secondary" onclick="changeLanguage('en')">
    Change to English
  </button>
  <button class="btn btn-outline-secondary" onclick="changeLanguage('es')">
    Change to Spanish
  </button>
  <button class="btn btn-outline-secondary" onclick="changeLanguage('jp')">
    Change to Japanese
   </button>
