<p>Miriam Fiandanese</p>


<button class="btn btn-outline-secondary" id="en" onclick="changeLanguage('en')">
    Change to English
  </button>

  <button class="btn btn-outline-secondary" id = "es" onclick="changeLanguage('es')">
    Change to Spanish
  </button>

  <button class="btn btn-outline-secondary" id = "jp" onclick="changeLanguage('jp')">
    Change to Japanese
   </button>
