<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <div class="title"> Projects</div>
        <div class="cards">
          <% data.projects.each do |project| %>
            <%# <div class="card-product"> %>
            <div class="card-pjt">
              <%= image_tag project.image, alt: "project image" %>
              <%# <div class="card-product-infos w-100"> %>
            </div>
              <div class="card-pjt-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= project.name %></h2>
                  <% link_to project.url, class: 'external-link', target: '_blank' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
                <p><%= project.description %></p>
              </div>

          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
