.navbar-portfolio {
  display: flex;
  justify-content: space-between;
  // background: #cec5ce;
  color: #cec5ce;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
}

.navbar-menu{
  display: flex;
  justify-content: space-between;
}
