#palette{
  background: #2B1427;
}


.back-img {
  background: linear-gradient(0deg, #2b1427 0%, #b50059 87%, #b05b6c 100%);
}


.teck-stack{
  display: flex;
  justify-content: start;

}

.teck-stack img{
  width: 30px;
  height:30px;
  margin-right: 2px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

html{
scroll-padding-top: 70px;
}
