#greet{
  font-size: 2rem;
  font-weight: 500;
  color:#B05B6C;
}

.title{
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color:#B05B6C;
  &.pjt{
    font-size: 3rem;
    text-align: center;
  }
}
