body{
  background-color: #171312;
  color: #cec5ce;
}
.wrapper{
  // max-width: 540px;
  margin: 0, auto;
  padding: 58px;
  font-family: 'Quicksand', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  min-height: calc(100vh - 10rem - 30.4rem);
}

.wrapper p{
  font-size: 1em;

}

.wrapper-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  // min-height: calc(100vh - 10rem - 30.4rem);
}

.wrapper-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
