<!-- Navbar Section -->
<%= partial 'partials/navbar' %>
<p id="about-section"></p>
<div id="palette">
  <div class="container p-2 mt-5" >
    <div class="wrapper">
    <!-- Banner Section -->
      <%= partial 'partials/banner' %>
    </div>
    <!-- Projects Section -->
    <p id="projects-section"></p>
    <%= partial 'partials/projects' %>
  </div>
</div>
